.marqueParent {
  margin: 100px 0;
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}
.marquee-img-parent {
    max-width: 330px;
    aspect-ratio: 16 / 9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
    margin: 0 60px;
    width: 100%;
}
.marquee-content-left-right {
  display: flex;
  width: max-content;  
  animation: scrollLeftRight 10s linear infinite;
}
.marquee-content-right-left {
  display: flex;
  width: max-content;  
  animation: scrollRightLeft 10s linear infinite;
}
.marquee-image {
  object-fit: contain;
  padding: 0px;
}
@keyframes scrollLeftRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes scrollRightLeft {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}




@media screen and (max-width: 768px) {
  .marqueParent {
    margin: 30px 0;
  }
}
