@import "tailwindcss";
body {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: 500;
}

h1 {
    font-size: 490px;
    letter-spacing: -1.68px;
    margin: 32px 0;
    color: #7c750e;
     font-family: 'Bebas Neue', sans-serif;
}

h1, h2, h3, h4 {
     font-family: 'Bebas Neue', sans-serif;
}
.revEnergy {
  color: #7c750e14;
}
h2 {
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}


p,
span, 
button, h5 {
   font-family: 'DM Sans', sans-serif;
}

button {
  font-weight: 500;
}


.exploreText h2 span,
.featMain-praoduct h2 span,
.headingText h2 span,
.headingText h2 span {
  font-family: 'Bebas Neue', sans-serif;
}

@media screen and (max-width: 1440px) {
      .exploreMain {
        margin-top: -350px;
    }
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 350px;
  }
}
@media screen and (max-width: 991px) {
  .exploreHeading-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .exploreHeading-cards-items{
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 240px;
  }
  .heroImg-parent-row {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    justify-content: center;
    margin: auto;
    align-items: center;
    top: 500px;
  }
  .heroImg-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  .exploreMain {
    margin-top: -530px;
  }
  h2, h2 span {
    font-size: 44px;
  }

}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 140px;
  }
}